{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Our Amazing Posts</h1>
          <span class="color-text-a">Grid News</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              News Grid
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="news-grid grid">
  <div class="container">
    <div class="row">
      {% for article in articles %}
      <div class="col-md-4">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img src="{{ article.image.url }}" alt="img" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="{{ article.get_absolute_url }}" class="category-b">{{ article.category.name }}</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="{% url 'article-single' article.slug %}">{{ article.title }}
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">{{ article.created_at|date }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}